/*
========================
side area start
========================
*/

/* fonts link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {	
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;    
	background:#060A0F;
	color: #fff;	
    margin:10px;
}
a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
::selection {
    color: white; 
    background: #ff7675;
}
::-webkit-selection {
    color: white; 
    background: #ff7675;
}

::-moz-selection {
    color: white; 
    background: #ff7675;
}

.scrolltotop {
    width: 40px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    background: rgba(0,0,0,.5);   
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    border:1px solid #fff;
}

.scrolltotop:hover {   
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5);   
}

/* top header mobile start*/
.topheader2 input {
    width:100%;
    min-height:60px;
    border-radius: 25px;
    border:0;
    outline:none;
}
.topheader2 input[type="search"] {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background: url('images/search.png') no-repeat center left;
    background-position:4% 50%;
    background-size:20px;
    background-color: #2C2D31;
    padding-left: 45px;
    padding-right:20px;
    color: #ffffff;
    outline:none;
}
.topheader2 input::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: #ACAEB2;
}
.topheader {
    display: none;
}
/* top header mobile end*/




.side-menu {
    background-color:#1D1E24;
    width:100%;
    /* max-width:263px; */
    min-height:712px;
    border-radius:40px;
    padding:40px 16px;
}
.side-menu-item h2{
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom:44px;
}
.side-menu-item ul li a {
    color:#FFFFFF;
    font-weight: 500;
    font-size: 16px;
    border-radius: 20px;
    display: block;
    min-height:55px;
    padding:0 19px;
    text-decoration:none;
    display: flex;
    align-items: center;
    transition:0.3s;
}

/* when hover nav item */
/* .side-menu-item ul li a:hover {
    background: #282626;
    color: #EDB055 !important;
} */
.side-menu-item ul li a span {
    display: inline-block;

}
.side-menu-item ul li a  img{
    max-width:25px;
    margin-right:8px;
}
.side-menu-item ul li {
    margin-bottom:9px;
} 
.bgyellow {
    background: #282626;
    color: #EDB055 !important;
}
.side-menu > a img{
    max-width:25px;
    margin-right:8px;
}
.side-menu > a {
    color:#FFFFFF;
    font-weight:400;
    font-size: 16px;
    border-radius: 20px;
    display: block;
    min-height:55px;
    padding:0 19px;
    text-decoration:none;
    display: flex;
    align-items: center;
    transition:0.3s;
}
.side-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.side-bottom1 img{
    max-width:85px;
    margin-right:30px;
}
.side-bottom {
    margin-top:32px;
}
.side-bottom1-inner h6 img{
   max-width:15px;
   margin-right:8px;
}
.side-bottom1-inner p {
    margin:0;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.side-bottom1-inner h6 {
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    margin-top:17px;
}
.side-bottom1 {
    display: flex;
    align-items: center;
}
.side-bottom2 img {
    max-width:70px;
    margin-right:17px;
}
.side-bottom2-inner h6 img{
   max-width:15px;
   margin-right:8px;
}
.side-bottom2-inner p {
    margin:0;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.side-bottom2-inner h6 {
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    margin-top:8px;
}
.side-bottom2 {
    padding:0 15px;
    width:100%;
    /* max-width:263px; */
    min-height:125px;
    background-color:#1D1E24;
    display: flex;
    align-items: center;
    margin-top:28px;
    border-radius:40px;
}

/*
========================
product area start
========================
*/
.product-search input {
    width:100%;
    max-width:355px;
    min-height:60px;
    border-radius: 25px;
    border:0;
    outline:none;
    margin-bottom:30px;
}
.product-search input::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: #ACAEB2;
}
.product-item img {
    width:100%;
    max-width:180px;
    margin-bottom:13px;
}
.product-search input[type="search"] {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background: url('images/search.png') no-repeat center left;
    background-position:4% 50%;
    background-size:20px;
    background-color: #2C2D31;
    padding-left: 45px;
    padding-right:20px;
    color: #ffffff;
}
.product-item button {
    font-weight:300;
    width:100%;
    max-width:105px;
    min-height:45px;
    border:0;
    background: #37393D;
    border-radius: 18px;
    color:#fff;
    font-size:32px;
}
.p-price p {
    margin:0;
    margin-right:9px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}
.product-item h6 {
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}
.product-item {
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}

/*
========================
right side area start
========================
*/
.right-side {
    width:100%;
    max-width:420px;
    min-height:970px;
    background: #1D1E24;
    border-radius: 40px;
    padding-top:50px;
    padding-left:30px;
    padding-right:30px;
}
.right-side-top {
    position: relative;
}
.cart-select > img {
    max-width:18px;
    position: absolute;
    top:30%;
    left:7%;
}
.cart-select {
    width:fit-content;
    position: relative;
}
.right-side-top select {
    width:100%;
    max-width:155px;
    min-height:45px;
    appearance: none;
    background:url(images/arrow.png) no-repeat center right;
    background-size:15px;
    background-position:92% 50%;
    background-color: #282A30;
    border-radius: 20px;
    font-weight: 500;
    font-size: 13px;
    color: #FFFFFF;
    border:0;
    outline: none;
    padding:0 35px;
}
.right-side-top h2 {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin:0;
}
.right-side-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-item img {
    width:100%;
    max-width:80px;
    margin-right:10px;
}
.cart-number-area h6 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.cart-number-item input {
    max-width:45px;
    min-height:45px;
    background-color:#282A30;
    display: inline-block;
    border:0;
    color:#fff;
    text-align: center;
    outline:none;
    font-size:13px;
}
.cart-number-item button {
    width:100%;
    max-width:40px;
    min-height:45px;
    display: inline-block;
    border:0;
    background-color:#282A30;
    color:#fff;
    font-size:25px;
    text-align: center;
}
.cart-number-item button:nth-child(1) {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.cart-number-item button:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.cart-number-item {
    display: flex;
    align-items: center;
}
.cart-item {
    display: flex;
    align-items: center;
}
.right-side-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right-side-cart > span {
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
} 
.right-side-cart {
    margin-top:41px;
}
.total-amount {
    margin-top:45px;
    border-top:1px dashed #282A30;
    border-bottom:1px dashed #282A30;
    padding:20px 0;
}
.total-amount ul {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom:12px;
}
.total-amount ul li {
    font-weight: 500;
    font-size: 18px;
}
.t-color {
    color:#7E7F86 !important;
}
.re-color {
    color: #E7B262 !important;
    background-color:#282626;
    border-radius:15px;
}
.total-pay ul  {
    display:flex;
    align-items: center;
    justify-content:space-between;
    margin-top:23px;
}
.total-pay ul li {
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
}
.pay-btn {
    margin-top:35px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.pay-btn img {
    width:100%;
    max-width:70px;
}
.pay-btn button {
    background: #EDB055;
    border-radius: 25px;
    border:0;
    width:100%;
    max-width:275px;
    min-height:70px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}
.pay-btn button img {
    max-width:50px;
}